html { 
	background: url('/images/posada-bg-91.jpg') no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height: 100%
   
}
body {
	color:#e8e0d5;
}

a {
	font-style:italic;
	color: #e8e0d5;
}
h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 3em;
}

h2 {
	font-style: italic;
	margin-top:-25px;
}

#wrapper {
	padding:2% 2% 2% 2%;
}

#leftinfocontainer{
	font-family: "Open Sans";
	margin-left:2%;
	padding:2% 2% 2% 2%;
	width:30%;
	background-color:#615A4E;
	opacity:0.40;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#infoformcontainer {
	width:300px;
	padding-left:2%;
	margin-top:5%;
	position:relative;
	
}
